
body{
  margin: 0;
  height: 100vh;
}

a {
  cursor: pointer;
}

.app{
  font-family: Arial, Helvetica, sans-serif;
}

.col, .row, .wrap{
  display: flex;
}

.col{
  flex-direction: column;
}

.row{
  flex-direction: row;
}

.wrap{
  flex-direction: row;
  flex-wrap: wrap;
}

.pad{
  padding:10px
}

.app .menu.menu-vertical{
  max-width: 100%;
}
